// Widescreens
@include mediaXL {
}

// Desktops & Laptops
@include mediaLg {
	.projects {
		grid-template-columns: repeat(3, 1fr);
	}
}

// Tablets & Small Laptops
@include mediaMd {
	body {
		overflow: visible;
	}

	body#bg-img {
		background-position-x: 1300px;
	}

	h1,
	h2,
	h3 {
		&.lg-heading {
		}

		&.sm-heading {
			margin: 1.5rem 0;
		}
	}

	main {
		align-items: center;
		text-align: center;

		h1 {
			// all other h1s up higher
			padding-top: 3vh;
		}

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}

	ul.menu-nav,
	div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.portrait {
		width: 220px;
		height: 220px;
		background-position-x: -32px;
	}

	.menu {
		&-nav {
			height: 65vh;
			transform: translate3d(-100%, 0, 0);
			font-size: 2rem;
			background-color: darken($primary-color, 5);
		}

		&-branding {
			height: 35vh;
			transform: translate3d(100%, 0, 0);
			background-color: $primary-color;
		}

		.nav-item {
			transform: translate3d(-600px, 0, 0);
		}
	}

	#about {
		margin: 0 2.5rem;

		.about-info {
			grid-template-areas:
				'bioimage'
				'bio'
				'education-title'
				'education'
				'work-title'
				'job1'
				'job2'
				'job3';
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: auto;

			.bio-image {
				margin-top: 2.5rem;
			}

			.bio {
				p {
					padding: 0 1rem;
				}
			}

			.title-wrap {
				margin-top: 2.5rem;
			}
		}
	}

	#work {
		overflow: visible;
		padding: 0;

		.projects {
			grid-template-columns: 1fr;

			.item {
				max-width: 80vw;
			}

			&:last-child {
				margin-bottom: 2rem;
			}
		}
	}
}

// Smartphones
@include mediaSm {
	body#bg-img {
		background-position-x: 1950px;
	}

	main {
		padding: 1rem;

		&#home h1 {
			// only the home h1 should be down further
			margin-top: 25vh;
		}

		h1 {
			// all other h1s up higher
			padding-top: 5vh;
			margin-bottom: 2.5rem;
		}

		.lg-heading {
			font-size: 4rem;
		}
	}

	.portrait {
		width: 150px;
		height: 150px;
		background-position-x: -20px;
	}

	.menu-btn {
		right: 25px;
		top: 25px;
	}

	.menu {
		.nav-link {
			font-size: 26px;
		}
	}

	#about {
		margin: 0;

		.about-info {
			.bio-image {
				margin-top: 1.5rem;
			}

			.title-wrap {
				margin-top: 1.5rem;
			}

			.experience {
				h4 {
					margin: 0.25rem 0 0.5rem 0;
				}

				span {
					// puts span on a new line
					display: table;
					margin: 0.75rem auto 0.15rem auto;
				}
			}
		}
	}

	#work {
		.projects {
			grid-template-columns: 1fr;
			margin-top: 0;

			.item {
				max-width: 92vw;

				.heading-wrap {
					.project-heading {
						font-size: 1.7rem;
					}
				}

				.description-wrap {
					padding: 0 0.25rem;

					.description-heading {
						font-size: 1.2rem;
					}
				}

				.technology-wrap {
					.technology-icons {
						grid-template-columns: repeat(2, 1fr);

						.icon-wrap {
							margin: 0.75rem 0;
						}
					}
				}
			}
		}
	}
}
