$primary-color: #222;
$primary-color-clear: rgba(34, 34, 34, .99);
$secondary-color: #ffa372;
$show-home-image: true;
// $home-image: url(../../img/code-blur.jpg);
// $home-image: url(../../img/keyboard.jpg);
// $home-image: url(../../img/code-fade.jpg);
$home-image: url(../../img/code-dark.jpg);
$background-opacity: 0.9;