$primary-color: #222831;
$primary-color-clear: rgba(34, 40, 49, .99);
$secondary-color: #00adb5;
$third-color: #393e46;
$third-color-clear: rgba(57, 62, 70, .99);
$light-color: #eeeeee;
$show-home-image: true;
// $home-image: url(../../img/code-blur.jpg);
// $home-image: url(../../img/keyboard.jpg);
// $home-image: url(../../img/code-fade.jpg);
$home-image: url(../../img/code-dark.jpg);
$background-opacity: 0.9;