@import 'variables';
@import 'mixins';
@import 'functions';
@import 'menu';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include background;
	background: $primary-color;
	color: set-text-color($primary-color);
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	overflow: hidden;
}

h1,
h2,
h3 {
	font-weight: 400;

	&.lg-heading {
        font-size: 6rem;

        // Initial Position Before Animation
        transform: translateY(-50vh);
        transition: transform 0.25s ease-in-out;
	}

	&.sm-heading {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
		padding: 0.2rem 1rem 0.5rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
        border-radius: 4px;

        // Initial Position Before Animation
        transform: translateY(100vh);
        transition: transform 0.5s ease-in-out;
	}
}

a {
	color: $light-color;
	text-decoration: none;
}

header {
	position: fixed;
	width: 100%;
	pointer-events: all;
}

.text-secondary {
	color: $secondary-color;
}

.text-third {
	color: $third-color;
}

.mx-1 { margin: auto 1rem; }
.mx-2 { margin: auto 2rem; }
.mx-3 { margin: auto 3rem; }
.mx-4 { margin: auto 4rem; }
.mx-5 { margin: auto 5rem; }


.px-4 { padding: auto 4rem; }
.px-5 { padding: auto 5rem; }

.my-auto { margin: auto 0; }

.text-left { text-align: left;}

.divider {
	width: 25%;
	border-bottom: 1px solid $light-color;
	margin: 1rem auto;
}

.portrait {
	width: 250px;
	height: 250px;
	background: url('../../img/portraitbw.jpg');
	background-size: cover;
	background-position-x: -35px;
	border-radius: 50%;
	border: solid 3px $secondary-color;
}



main {
	padding: 0.5rem 4rem;
	min-height: 100vh;
    // min-height: calc(100vh - 60px); // 60px is height of footer
    text-align: center;

	.icons {
		display: inline-block;
		margin-top: 1rem;
		pointer-events: all;

		a {
			padding: 0.7rem;

			&:hover {
				color: $secondary-color;
				@include easeOut();
            }
            
            .github-icon {
                opacity: 0;
                transition: opacity 0.5s ease-in-out 0.5s;
            }

            .linkedin-icon {
                opacity: 0;
                transition: opacity 0.5s ease-in-out 0.75s;
            }

            .email-icon {
                opacity: 0;
                transition: opacity 0.5s ease-in-out 1s;
            }
		}
	}

	&#home {
		overflow: hidden;
        pointer-events: none;
        height: 100vh;

		h1 {
			display: inline-block;
			margin-top: 20vh;
		}

		h2 {
            font-size: 2.5rem;
			display: inline-block;
		}
	}
}

#about {
	.about-info {
		display: grid;
		grid-gap: 30px;
		grid-template-areas:
			'bioimage bio bio'
			'education-title work-title work-title'
			'education job1 job2';
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 3fr 1fr 3fr;

		.bio-image {
			grid-area: bioimage;
            margin: auto;
            width: 400px;
            height: 275px;
            background: url('../../img/about-picturebw2.jpg');
            background-size: cover;
            border-radius: 4px;
            border: solid 3px $secondary-color;
            transform: translateX(-100vw);
            transition: transform 0.75s ease-in-out;
		}

		.title-wrap {
			background: lighten($primary-color, 5);
			padding: 0.5rem 0 0.75rem 0;
            border-radius: 4px;
            transform: translateX(100vw);
            transition: transform 1s ease-in-out;
		}

		.title {
			font-size: 2.5rem;
			font-weight: 500;
            color: $light-color;
            text-align: center;
		}

		.bio {
            grid-area: bio;
            text-align: left;

			p {
                position: relative;
                font-size: 1.1rem;
            }
            
            .bio-text-1 {
                transform: translateX(100vw);
                transition: transform 1s ease-in-out 0.2s;
            }

            .bio-text-2 {
                transform: translateX(100vw);
                transition: transform 1s ease-in-out 0.4s;
            }
		}

	}
}



















#experience {
	.experience-info {
		display: grid;
		grid-gap: 20px;
        grid-template-areas:
            'work-title work-title experienceimage'
            'job1 job2 experienceimage'
            'job1 job2 experienceimage'
			'job1 job2 education-title'
            'job3 job4 education'
            'job3 job4 education'
			'job3 job4 education';
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(7, 1fr);

		.experience-image {
            grid-area: experienceimage;
            margin: auto;
            width: 400px;
            height: 275px;
            background: url('../../img/experience-picturebw.jpg');
            background-size: cover;
            border-radius: 4px;
            border: solid 3px $secondary-color;
            transform: translateX(100vw);
            transition: transform 1s ease-in-out;
		}

		.title-wrap {
			background: lighten($primary-color, 5);
			padding: 0.5rem 0 0.75rem 0;
            border-radius: 4px;
        }
        
        .work-title {
            grid-column: 1 / 3;
            transform: translateX(-100vw);
            transition: transform 1s ease-in-out;
        }

		.title {
			font-size: 2.5rem;
			font-weight: 500;
			color: $light-color;
			text-align: center;
		}

		.bio {
			grid-area: bio;

			p {
				font-size: 1.1rem;
			}
		}

		.experience {
			background: lighten($primary-color, 5);
			padding: 0.75rem 1.5rem;
			border-bottom: $secondary-color 5px solid;
			text-align: center;
            border-radius: 4px;
            position: relative;
            
            ul {
                li {
                    margin: .15rem 0;
                }
            }

			h3 {
				font-size: 1.5rem;
				font-weight: 600;
			}

			h4 {
				font-weight: 400;
				font-size: 1.2rem;
			}

			h5 {
				font-size: 0.9rem;
				margin: 0.25rem 0 0.75rem 0;
				color: $secondary-color;
			}

			span {
				font-weight: bold;
				color: $secondary-color;
            }

            .experience-content {
                opacity: 0.999999;
            }

            .icon-background {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                justify-content: center;
                opacity: 0.40;
                color: lighten($primary-color-clear, 10%);

                i {
                    align-self: center;
                    font-size: 13rem;
                }
            }
        }
        
        .education-title {
            grid-area: education-title;
            transform: translateX(100vw);
            transition: transform 0.75s ease-in-out;
        }

		.education {
            grid-area: education;
            transform: translateY(100vh);
            transition: transform 1s ease-in-out;
		}

		.job {
			&-1 {
                grid-area: job1;
                transform: translateY(100vh);
                transition: transform 1s ease-in-out;
			}

			&-2 {
                grid-area: job2;
                transform: translateY(100vh);
                transition: transform 1s ease-in-out;
			}

			&-3 {
                grid-area: job3;
                transform: translateY(100vh);
                transition: transform 1s ease-in-out;
            }
            
            &-4 {
                grid-area: job4;
                transform: translateY(100vh);
                transition: transform 1s ease-in-out;
			}
		}
	}
}


















// Work and Projects
#work {
	.projects {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 1.5rem;
		margin-top: 2.5rem;

		.item {
			background-color: $third-color;
			padding: 1rem;
			border-radius: 4px;

			.heading-wrap {
				background-color: $primary-color;
				padding: 0 0 0.25rem 0;
				margin-bottom: 1rem;
				border-radius: 4px;

				.project-heading {
					color: #fff;
					text-align: center;
					font-weight: 500;
					font-size: 2rem;
				}
			}

			.img-wrap {
				overflow: hidden;
				border: 2px $secondary-color solid;
                border-radius: 4px;
                    height: 250px;
				@include easeOut;

				&:hover {
					border-color: $light-color;
				}

				img {
					width: 100%;
					display: block;
					@include easeOut;

					&:hover {
						transform: scale(1.05);
					}
				}
			}

			.description-wrap {
				padding: 0 0.5rem;

				.description-heading {
					color: #fff;
					font-weight: 500;
					font-size: 1.4rem;
					margin: 0.75rem 0;
				}
			}

			hr {
				margin: 1rem 0;
				border: 0.25px $light-color solid;
			}

			.technology-wrap {
				color: #fff;
				background-color: $secondary-color;
				padding: 0.25rem 0.25rem;
				margin: 1.5rem 0;
				border-radius: 4px;

				.technology-icons {
					display: grid;
                    justify-items: center;
                    
                    &-2 {
					    grid-template-columns: repeat(2, 1fr);
                    }

                    &-3 {
					    grid-template-columns: repeat(3, 1fr);
                    }

					.icon-wrap {
						display: flex;
						margin: 0.75rem 1.5rem;
						align-items: center;

						i {
							font-size: 1.5rem;
							margin-right: 0.75rem;
						}

						& > img {
							width: 22px;
							border: none;
							border-radius: 0;
							opacity: 1;
							// margin-left: -2px;
							margin-right: 0.75rem;
						}

						.dotnet-logo {
							width: 30px;
							// margin-left: -6px;
						}

						img ~ span {
							margin: auto 0;
						}
					}
				}
			}
        }
        
        .project-1 {
            transform: translateX(100vw);
            transition: transform 1s ease-out 0.25s;
        }

        .project-2 {
            transform: translateX(100vw);
            transition: transform 1s ease-out 0.5s;
        }

        .project-3 {
            transform: translateX(100vw);
            transition: transform 1s ease-out 0.75s;
        }
	}
}

// Contact Page
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;

	div {
		font-size: 2rem;
		border: 3px $light-color solid;
		padding: 1.5rem 2.5rem;
		margin-bottom: 3rem;
		@include easeOut;

		&:hover {
			padding: 0.5rem 1.5rem;
			background: $secondary-color;
			color: set-text-color($secondary-color);

			span {
				color: set-text-color($secondary-color);
			}
		}
	}
}

// Transition Styles

.reset-position {
    opacity: 1 !important;
    transform: translate(0) rotateY(0) !important;
}

// Button Styles
.btn {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	text-align: center;
	border-radius: 4px;
	font-size: 1.1rem;
	font-weight: 500;
	@include easeOut;

	&:hover {
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
	}
}

.btn-dark {
	@extend .btn;
	background: $primary-color;
	color: $light-color;
}

.btn-light {
	@extend .btn;
	background: $light-color;
	color: $primary-color;
}

.btn-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin-top: 1rem;
	align-items: center;
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: $third-color;
	color: set-text-color($third-color);
	height: 60px;
}

@import 'mobile';
