@import 'variables';
@import 'mixins';
@import 'functions';
@import 'menu';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: $light-color;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    pointer-events: all;
}

.text-secondary {
    color: $secondary-color;
}

.portrait {
    width: 250px;
    height: 250px;
    background: url('../../img/portraitbw.jpg');
    background-size: cover;
    background-position-x: -35px;
    border-radius: 50%;
    border: solid 3px $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px); // 60px is height of footer

    .icons {
        display: inline-block;
        margin-top: 1rem;
        pointer-events: all;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        pointer-events: none;

        h1 {
            display: inline-block;
            margin-top: 20vh;
        }

        h2 {
            display: inline-block;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
    }
    
    .bio {
        grid-area: bio;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

// Work and Projects
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;


    img {
        width: 100%;
        border: 2px $secondary-color solid;
        border-radius: 4px;
        opacity: 0.8;
        @include easeOut;

        &:hover {
            opacity: 1;
            border-color: $light-color;
        }
    }
}

.item {
    background-color: $third-color;
    padding: 1rem;
    border-radius: 4px;

    .heading-wrap {
        background-color: $primary-color;
        padding: .5rem;
        margin-bottom: 1rem;
        border-radius: 4px;

        .project-heading {
            color: $light-color;
            text-align: center;
            font-weight: 500;
            font-size: 2rem;
        }
    }

    .description-wrap {
        padding: .25rem .5rem;

        .description-heading {
            font-weight: 500;
            font-size: 1.4rem;
            margin: .75rem 0;
        }
    }

    hr {
        margin: 1rem 0;
        border: .25px $light-color solid;
    }

    .technology-wrap {

        background-color: $secondary-color;
        padding: .25rem .25rem;
        margin: 1.5rem 0;
        border-radius: 4px;
    
        .technology-icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .icon-wrap {
                display: flex;
                margin: .75rem 1.5rem;
                align-items: center;

                i {
                    font-size: 1.5rem;
                    margin-right: .75rem;
                }

                img {
                    width: 22px;
                    border: none;
                    border-radius: 0;
                    opacity: 1;
                    margin-right: .75rem;
                }

                .dotnet-logo {
                    width: 30px;
                }

                img ~ span {
                    margin: auto 0;
                }

            }
        }
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px $light-color solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 500;
    @include easeOut;

    &:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: $primary-color;
    color: $light-color;
}

.btn-light {
    @extend .btn;
    background: $light-color;
    color: $primary-color;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: $third-color;
    color: set-text-color($third-color);
    height: 60px;
}



@import 'mobile';

